$hamburger-color: rgb(223, 209, 209);
$hamburger-height: 2px;
$hamburger-width: 22px;

.norway-trip {
  min-height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;

  &.imageOne {
    background-image: url("../../assets/images/image1.jpg");
  }

  &.imageTwo {
    background-image: url("../../assets/images/image2.jpg");
  }

  &.imageThree {
    background-image: url("../../assets/images/image3.jpg");
  }

  &.imageFour {
    background-image: url("../../assets/images/image4.jpg");
  }

  &.imageFive {
    background-image: url("../../assets/images/image5.jpg");
  }

  header {
    width: 100%;
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;

    .app__name {
      font-family: "Pacifico", cursive;
      font-size: 30px;
      transform: translate(-20px, -20px);

      a {
        text-decoration: none;
        color: white;
      }
    }

    .navs {
      width: 25%;
      display: flex;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: white;
        font-size: 16px;
      }
    }

    .hamburger-menu {
      width: 60px;
      height: 60px;
      background-color: rgba(189, 186, 186, 0.5);
      transform: translate(40px, -25px);
      backdrop-filter: blur(20px);
      border-radius: 0px 0px 0px 10px;
      position: relative;
      cursor: pointer;

      span,
      &::after,
      &::before {
        width: $hamburger-width;
        height: $hamburger-height;
        background: $hamburger-color;
      }

      span {
        display: block;
        transform: translate(18px, 21px);
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        display: block;
      }

      &::before {
        transform: translate(18px, 28px);
      }

      &::after {
        transform: translate(18px, 33px);
      }
    }
  }

  .title {
    width: 100%;
    text-align: center;
    display: flex;
    padding: 0 35px;
    height: 200px;

    .social-media-links {
      height: 100%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;

      .sm-link {
        backdrop-filter: blur(20px);
        width: 100%;
        line-height: 10px;

        a {
          text-decoration: none;
          opacity: 0.9;
          color: rgb(255, 255, 255);

          .MuiSvgIcon-root {
            font-size: 20px;
          }
        }
      }
    }

    .headings {
      width: 100%;
      span {
        letter-spacing: 15px;
        font-weight: 400;
        opacity: 0.85;
        font-size: 22px;
      }

      p {
        font-weight: 500;
        letter-spacing: 20px;
        opacity: 0.8;
        font-size: calc(0.75em + 18vmin);
      }
    }
    .image-indicator {
      height: 100%;
      background-color: rgba(255, 255, 255, 0.34);
      width: 1px;
      position: relative;

      span {
        position: absolute;
        height: 20%;
        width: 100%;
        background: rgb(255, 255, 255);
        display: block;
        opacity: 1;
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    padding-left: 0px;

    .see-more {
      font-size: 9px;
      display: flex;
      align-items: center;
      transform: rotate(90deg);
      opacity: 0.8;
      font-weight: 500;
      opacity: 0.5;

      span {
        transform: rotate(180deg);
      }

      .MuiSvgIcon-root {
        font-size: 30px;
      }
    }

    .locations {
      display: flex;
      width: 65%;
      justify-content: space-between;

      .location {
        width: 32%;
        background-color: rgba(189, 186, 186, 0.25);
        backdrop-filter: blur(2px);
        display: flex;
        padding: 15px 20px;
        justify-content: space-around;
        align-items: center;
        border-radius: 4px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
        border: 1px solid #ffffff25;
        cursor: pointer;
        flex-direction: row;

        .logo {
          fill: rgba(255, 255, 255, 0.7);
        }

        .content {
          width: 80%;
          display: flex;
          flex-direction: column;
          span {
            font-size: 17px;
            font-weight: 500;
            margin-bottom: 4px;
          }

          p {
            font-weight: 300;
            font-size: 15px;
          }
        }
      }
    }

    .change-img {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 7%;

      .buttons {
        display: flex;
        width: 50px;
        display: flex;
        justify-content: space-between;
        color: rgba(233, 225, 225, 1);

        .left,
        .right {
          cursor: pointer;

          .MuiSvgIcon-root {
            font-size: 35px;
          }
        }
      }

      .count {
        width: 100%;
        text-align: center;
        color: rgba(233, 225, 225, 0.51);
        font-size: 14px;
        letter-spacing: 1px;
        margin-left: 20px;

        span {
          color: white;
          font-size: 25px;
          margin: 0 3px;
        }
      }
    }
  }

  .hamburger-sidebar {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(34, 32, 32, 0.3);
    visibility: hidden;

    .overlay {
      background-color: rgba(34, 32, 32, 0.5);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: fixed;
      transform: translate(-1050px);
      transition: all 0.15s cubic-bezier(0, 0, 0.2, 1);
    }

    .ham-menu {
      height: 100%;
      backdrop-filter: blur(2px);
      background-color: rgba(122, 226, 252, 0.2);
      float: right;
      padding: 20px;
      border-left: 1px solid rgba(221, 221, 221, 0.3);
      min-width: 260px;
      width: 20%;
      max-width: 260px;
      transform: translate(350px);
      transition: all 0.35s cubic-bezier(0, 0, 0.2, 1);

      .close-btn {
        float: right;
        cursor: pointer;
      }

      .links {
        height: 40%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        a {
          text-decoration: none;
          color: white;
          border-bottom: 1px solid rgba(221, 221, 221, 0.2);
          padding-bottom: 10px;
        }
      }
    }

    &.show-sidebar {
      visibility: visible;

      .ham-menu {
        transform: translate(0px);
      }
      .overlay {
        transform: translate(0px);
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .norway-trip {
    header {
      .app__name {
        font-size: 24px;
        margin: 0;
      }

      .navs {
        display: none;
      }
    }

    .title {
      padding: 12px;
      .headings {
        margin-top: 65px;
        p {
          font-size: calc(0.75em + 10vmin);
        }
      }
    }
    footer {
      padding: 0 5px;
      width: 100%;

      .locations {
        flex-direction: column;
        width: 100%;

        .location {
          height: 60px;
          min-width: 100%;
          margin: 7px 0;
        }
      }

      .change-img {
        width: 18%;
        justify-content: space-evenly;
        padding: 50px 0px;
        padding-right: 25px;
      }
    }
  }
}
